go 1.25.6

use (
	./apis/stubs/go
	./backend/libs/go
	./backend/services/stigmer-server
	./client-apps/cli
	./mcp-server
	./sdk/go
	./seedpack
	./test/integration
	./test/integration-security
	./test/integration-session-routing
	./test/integration/sdk
	./tools
)
