go 1.25.6

use (
	./apis/stubs/go
	./backend/libs/go
	./backend/services/stigmer-server
	./client-apps/cli
	./sdk/go
	./seedpack
	./test/integration
	./test/integration-offline
	./test/integration-security
	./test/integration-session-routing
	./test/integration/sdk
	./tools
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20260519071638-aa98bba5eb94
